# DS-SF-34 | 04 | Exploratory Data Analysis | Codealong | Starter Code

In [32]:
import os

import math

import numpy as np
import pandas as pd
pd.set_option('display.max_rows', 20)
pd.set_option('display.notebook_repr_html', True)
pd.set_option('display.max_columns', 10)

import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use('ggplot')

## Part A | Activity | The _pandas_ Library

In [33]:
df = pd.DataFrame({'name': ['Alice', 'Bob', 'Carol', 'Dave', 'Eve', 'Frank'],
    'gender': ['Female', 'Male', 'Female', 'Male', 'Female', 'Male'],
    'age': [24, 34, 44, 41, 52, 43],
    'marital_status': [0, 2, 1, 2, 0, 1]}).\
        set_index('name')

In [3]:
df

       age  gender  marital_status
name
Alice   24  Female               0
Bob     34    Male               2
Carol   44  Female               1
Dave    41    Male               2
Eve     52  Female               0
Frank   43    Male               1

> ### Question 1.  Subset the dataframe on the age and gender columns

In [4]:
# TODO
df[['age', 'gender']]

       age  gender
name
Alice   24  Female
Bob     34    Male
Carol   44  Female
Dave    41    Male
Eve     52  Female
Frank   43    Male

> ### Question 2.  Subset the dataframe on the age column alone, first as a `DataFrame`, then as a `Series`

In [11]:
# TODO (DataFrame)
df[['age']]

       age
name
Alice   24
Bob     34
Carol   44
Dave    41
Eve     52
Frank   43

In [7]:
# TODO (Series)
df['age']

name
Alice    24
Bob      34
Carol    44
Dave     41
Eve      52
Frank    43
Name: age, dtype: int64

In [20]:
df.age

name
Alice    24
Bob      34
Carol    44
Dave     41
Eve      52
Frank    43
Name: age, dtype: int64

> ### Question 3.  Subset the dataframe on the rows Bob and Carol

In [14]:
# TODO
df.loc[['Bob','Carol']]

       age  gender  marital_status
name
Bob     34    Male               2
Carol   44  Female               1

In [21]:
df.loc[['Bob','Carol']][['age', 'gender']]

       age  gender
name
Bob     34    Male
Carol   44  Female

> ### Question 4.  Subset the dataframe on the row Eve alone, first as a `DataFrame`, then as a `Series`

In [15]:
# TODO (DataFrame)
df.loc[['Eve']]

      age  gender  marital_status
name
Eve    52  Female               0

In [16]:
# TODO (Series)
df.loc['Eve']

age                   52
gender            Female
marital_status         0
Name: Eve, dtype: object

> ### Question 5.  How old is Frank?

In [17]:
# TODO
df.at['Frank', 'age']
df.T.age.Frank
df.age.Frank
df.loc['Frank'].age

43

> ### Question 6.  What is the men’s mean age, the women’s median age?

In [42]:
# TODO
df [['age', 'gender']].mean()

age    39.666667
dtype: float64

In [43]:
df[df.gender == 'Male'].age.mean()

39.333333333333336

In [44]:
df.groupby('gender').age.median().Female

44

## Part B

- `.mean()`
  - (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.mean.html)
  - (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.mean.html)
- `.var()`, `.std()`
  - (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.var.html)
  - (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.var.html)
  - (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.std.html)
  - (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.std.html)

In [45]:
df = pd.read_csv(os.path.join('..', 'datasets', 'dataset-04-zillow.csv'), index_col = 'ID')

In [46]:
df

,Address,DateOfSale,SalePrice,IsAStudio,Beds,Baths,Size,LotSize,BuiltInYear
ID,,,,,,,,,
15063471,"55 Vandewater St APT 9, San Francisco, CA",12/4/15,0.7100,0.0,1.0,NaN,550.0,NaN,1980.0
15063505,"740 Francisco St, San Francisco, CA",11/30/15,2.1500,0.0,NaN,2.0,1430.0,2435.0,1948.0
15063609,"819 Francisco St, San Francisco, CA",11/12/15,5.6000,0.0,2.0,3.5,2040.0,3920.0,1976.0
15064044,"199 Chestnut St APT 5, San Francisco, CA",12/11/15,1.5000,0.0,1.0,1.0,1060.0,NaN,1930.0
15064257,"111 Chestnut St APT 403, San Francisco, CA",1/15/16,0.9700,0.0,2.0,2.0,1299.0,NaN,1993.0
15064295,"111 Chestnut St APT 702, San Francisco, CA",12/17/15,0.9400,0.0,2.0,2.0,1033.0,NaN,1993.0
15064391,"1821 Grant Ave APT 101, San Francisco, CA",12/15/15,0.8350,0.0,1.0,1.0,1048.0,NaN,1975.0
15064536,"2300 Leavenworth St, San Francisco, CA",12/4/15,2.8300,0.0,3.0,2.0,2115.0,1271.0,1913.0
15064640,"1047-1049 Lombard St, San Francisco, CA",1/14/16,4.0500,1.0,NaN,NaN,4102.0,3049.0,1948.0
15064669,"1055 Lombard St # C, San Francisco, CA",12/31/15,2.1900,0.0,2.0,3.0,1182.0,NaN,1986.0
...,...,...,...,...,...,...,...,...,...
2108546010,"1738 Lombard St APT 4, San Francisco, CA",1/14/16,1.4000,0.0,2.0,2.0,NaN,NaN,2004.0
2114498518,"201 Sansome St UNIT 501, San Francisco, CA",1/26/16,0.7575,0.0,1.0,1.0,658.0,NaN,1909.0
2121221385,"925 Larkin St, San Francisco, CA",11/30/15,1.4300,0.0,NaN,NaN,6600.0,NaN,1907.0
2121978635,"829 Folsom St UNIT 906, San Francisco, CA",12/6/15,0.6750,0.0,1.0,1.0,557.0,NaN,2010.0
2122992200,"129 Octavia St, San Francisco, CA",11/20/15,2.7500,1.0,NaN,NaN,3655.0,NaN,1883.0
2124214951,"412 Green St APT A, San Francisco, CA",1/15/16,0.3900,1.0,NaN,1.0,264.0,NaN,2012.0
2126960082,"355 1st St UNIT 1905, San Francisco, CA",11/20/15,0.8600,0.0,1.0,1.0,691.0,NaN,2004.0
2128308939,"33 Santa Cruz Ave, San Francisco, CA",12/10/15,0.8300,0.0,3.0,3.0,1738.0,2299.0,1976.0
2131957929,"1821 Grant Ave, San Francisco, CA",12/15/15,0.8350,0.0,2.0,2.0,1048.0,NaN,1975.0
2136213970,"1200 Gough St, San Francisco, CA",1/10/16,0.8250,0.0,1.0,1.0,900.0,NaN,1966.0

### `Series.mean()` - Compute the `Series` mean value

In [47]:
df.SalePrice.mean()

1.3974229429999998

> #### Activity: What's `Size`'s mean?

In [48]:
# TODO
df.Size.mean()

1641.3009307135471

> #### Activity: What fraction of the properties sold in the dataset are studios?

In [ ]:
# TODO

### `DataFrame.mean()` - Compute the `DataFrame` mean value

In [49]:
# TODO
df.mean()

SalePrice         1.397423
IsAStudio         0.029412
Beds              2.572967
Baths             1.977548
Size           1641.300931
LotSize        3020.640288
BuiltInYear    1947.533333
dtype: float64

### `.var()` - Compute the unbiased variance (normalized by `N-1` by default)

In [50]:
# TODO
df.var()

SalePrice      3.015131e+00
IsAStudio      2.857569e-02
Beds           1.564729e+00
Baths          1.277654e+00
Size           1.054762e+06
LotSize        8.142064e+06
BuiltInYear    1.445639e+03
dtype: float64

> #### Activity: What's the variance for the number of beds in the dataset?

In [ ]:
# TODO

### `.std()` - Compute the unbiased standard deviation (normalized by `N-1` by default)

In [52]:
# TODO
df.std()

SalePrice         1.736413
IsAStudio         0.169043
Beds              1.250891
Baths             1.130334
Size           1027.016175
LotSize        2853.430139
BuiltInYear      38.021563
dtype: float64

> #### Activity: What's the standard deviation for the number of beds in the dataset?

In [ ]:
# TODO

## Part C

- `.median()`
  - (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.median.html)
  - (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.median.html)
- `.count()`, `.sum()`
  - (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.count.html)
  - (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.count.html)
  - (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.sum.html)
  - (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.sum.html)
- `.count()`
  - (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.dropna.html)
- `.min()`, `.max()`
  - (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.min.html)
  - (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.min.html)
  - (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.max.html)
  - (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.max.html)
- `.quantile()`
  - (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.quantile.html)
  - (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.quantile.html)
- `.describe()`
  - (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.describe.html)

### `.median()` - Compute the median value

In [53]:
# TODO
df.median()

SalePrice         1.1
IsAStudio         0.0
Beds              2.0
Baths             2.0
Size           1350.0
LotSize        2622.0
BuiltInYear    1939.0
dtype: float64

In [54]:
df.describe()

,SalePrice,IsAStudio,Beds,Baths,Size,LotSize,BuiltInYear
count,1000.000000,986.000000,836.000000,942.000000,967.000000,556.000000,975.000000
mean,1.397423,0.029412,2.572967,1.977548,1641.300931,3020.640288,1947.533333
std,1.736413,0.169043,1.250891,1.130334,1027.016175,2853.430139,38.021563
min,0.000001,0.000000,1.000000,1.000000,264.000000,44.000000,1870.000000
25%,0.800000,0.000000,2.000000,1.000000,1027.500000,2375.000000,1912.000000
50%,1.100000,0.000000,2.000000,2.000000,1350.000000,2622.000000,1939.000000
75%,1.532500,0.000000,3.000000,2.000000,1947.500000,3049.000000,1986.000000
max,32.700000,1.000000,9.000000,14.000000,11500.000000,47916.000000,2015.000000

> #### Activity: What's the median sale price for properties in the dataset?

In [ ]:
# TODO

### `.count()` - Compute the number of rows/observations without `NaN` and `.sum()` - Compute the sum of the values

In [ ]:
df.count()

In [ ]:
df.IsAStudio.count()

`count()` counts the number of non-`NaN` values:

In [ ]:
df.IsAStudio.dropna().shape[0]

In [ ]:
df.IsAStudio.isnull().sum()

Which leaves 14 houses for which we don't know if they are studios or not.

In [ ]:
df.IsAStudio.dropna().shape[0] + df.IsAStudio.isnull().sum()

In [ ]:
df.IsAStudio.sum()

29 properties are studios.

### `.min()` and `.max()` - Compute the minimum and maximum values

In [55]:
df.min()

Address        1 Crescent Way APT 1402, San Francisco, CA
DateOfSale                                        1/10/16
SalePrice                                           1e-06
IsAStudio                                               0
Beds                                                    1
Baths                                                   1
Size                                                  264
LotSize                                                44
BuiltInYear                                          1870
dtype: object

> #### Activity: What are properties that were sold at the lowest price?  At what price?

In [63]:
# TODO
df[['SalePrice']].min()

SalePrice    1.0
dtype: float64

In [66]:
df.loc[df.SalePrice == df.SalePrice.min()]

,Address,DateOfSale,SalePrice,IsAStudio,Beds,Baths,Size,LotSize,BuiltInYear
ID,,,,,,,,,
15149005,"251-253 Missouri St, San Francisco, CA",12/23/15,0.000001,0.0,7.0,6.0,2904.0,2482.0,1900.0

In [64]:
df.max()

Address        San Carlos St, Carmel, CA
DateOfSale                        2/9/16
SalePrice                           32.7
IsAStudio                              1
Beds                                   9
Baths                                 14
Size                               11500
LotSize                            47916
BuiltInYear                         2015
dtype: object

> #### Activity: What are properties that were sold at the highest price?  At what price?

In [67]:
# TODO
df[['SalePrice']].max()

SalePrice    32.7
dtype: float64

In [68]:
df.loc[df.SalePrice == df.SalePrice.max()]

,Address,DateOfSale,SalePrice,IsAStudio,Beds,Baths,Size,LotSize,BuiltInYear
ID,,,,,,,,,
15083161,"1825 Scott St, San Francisco, CA",11/23/15,32.7,0.0,NaN,1.0,1100.0,1694.0,1900.0

### `.quantile()` - Compute values at the given quantile

In [ ]:
df.quantile(.5)

In [ ]:
df.median()

In [ ]:
df.quantile(.25)

In [ ]:
df.quantile(.75)

### `.describe()` - Generate various summary statistics

In [ ]:
df.describe()

In [ ]:
df.SalePrice.describe()

In [ ]:
df.Address.describe()

## Part D

- Boxplots
  - (http://pandas.pydata.org/pandas-docs/stable/visualization.html#box-plots)
  - (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.plot.html) with `kind = 'box'`
  - (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.plot.html) with `kind = 'box'`
  - (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.boxplot.html)

In [ ]:
df.SalePrice.plot(kind = 'box', figsize = (8, 8))

In [ ]:
df[ ['SalePrice'] ].boxplot(figsize = (8, 8))

> In the same plot, plot the boxplots of `Beds` and `Baths`

In [ ]:
# TODO

## Part E

- Histograms
  - (http://pandas.pydata.org/pandas-docs/stable/visualization.html#histograms)
  - (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.plot.html) with `kind = 'hist'`
  - (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.plot.html) with `kind = 'hist'`
  - (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.hist.html)
  - ((http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.hist.html)

In [ ]:
df.Beds.plot(kind = 'hist', figsize = (8, 8))

In [ ]:
df.Beds.hist(figsize = (8, 8))

> #### Activity: In the same plot, plot the histograms of `Beds` and `Baths`

In [ ]:
# TODO

## Part F

- `.mode()`
  - (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.mode.html)
  - ((http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.mode.html)

### `.mode()` - Compute the mode value(s)

In [69]:
df.mode()

,Address,DateOfSale,SalePrice,IsAStudio,Beds,Baths,Size,LotSize,BuiltInYear
0,"1 Mono St # B, San Francisco, CA",11/20/15,1.1,0.0,2.0,1.0,1000.0,2495.0,1900.0
1,"150 Grand View Ave, San Francisco, CA",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"1915 Diamond St, San Francisco, CA",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"1954 Golden Gate Ave, San Francisco, CA",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"2299 Market St APT 502, San Francisco, CA",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,"643 Natoma St, San Francisco, CA",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,"829 Folsom St UNIT 906, San Francisco, CA",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [70]:
df.Address.mode()

0             1 Mono St # B, San Francisco, CA
1        150 Grand View Ave, San Francisco, CA
2           1915 Diamond St, San Francisco, CA
3      1954 Golden Gate Ave, San Francisco, CA
4    2299 Market St APT 502, San Francisco, CA
5             643 Natoma St, San Francisco, CA
6    829 Folsom St UNIT 906, San Francisco, CA
dtype: object

In [71]:
df.Baths.mode()

0    1.0
dtype: float64

The `.mode()` method gets the mode(s) of each element along the columns.  Empty if nothing has 2+ occurrences. Adds a row for each mode per label, fills in gaps with `NaN`.  Note that there could be multiple values returned in the columns (when more than one value share the maximum frequency), which is the reason why a dataframe is returned.

In [72]:
df[df.Address == '1 Mono St # B, San Francisco, CA']

,Address,DateOfSale,SalePrice,IsAStudio,Beds,Baths,Size,LotSize,BuiltInYear
ID,,,,,,,,,
59700333,"1 Mono St # B, San Francisco, CA",12/11/15,1.08,0.0,2.0,1.5,1142.0,NaN,1968.0
59779608,"1 Mono St # B, San Francisco, CA",12/11/15,1.08,0.0,NaN,NaN,1142.0,NaN,1968.0

In [73]:
df[df.Address == '829 Folsom St UNIT 906, San Francisco, CA']

,Address,DateOfSale,SalePrice,IsAStudio,Beds,Baths,Size,LotSize,BuiltInYear
ID,,,,,,,,,
123597964,"829 Folsom St UNIT 906, San Francisco, CA",12/7/15,0.675,0.0,NaN,NaN,557.0,NaN,2010.0
2121978635,"829 Folsom St UNIT 906, San Francisco, CA",12/6/15,0.675,0.0,1.0,1.0,557.0,NaN,2010.0

In [74]:
df[df.Address == '1915 Diamond St, San Francisco, CA']

,Address,DateOfSale,SalePrice,IsAStudio,Beds,Baths,Size,LotSize,BuiltInYear
ID,,,,,,,,,
125156575,"1915 Diamond St, San Francisco, CA",12/30/15,1.8,0.0,NaN,1.0,2200.0,4316.0,1910.0
2100850402,"1915 Diamond St, San Francisco, CA",12/29/15,1.8,0.0,4.0,3.0,2400.0,4356.0,1910.0

In [75]:
df[df.Address == '1954 Golden Gate Ave, San Francisco, CA']

,Address,DateOfSale,SalePrice,IsAStudio,Beds,Baths,Size,LotSize,BuiltInYear
ID,,,,,,,,,
15084954,"1954 Golden Gate Ave, San Francisco, CA",11/24/15,1.1,0.0,2.0,1.0,1515.0,NaN,1895.0
123597223,"1954 Golden Gate Ave, San Francisco, CA",11/24/15,1.1,0.0,2.0,1.0,1275.0,NaN,1895.0

In [76]:
df[df.Address == '2299 Market St APT 502, San Francisco, CA']

,Address,DateOfSale,SalePrice,IsAStudio,Beds,Baths,Size,LotSize,BuiltInYear
ID,,,,,,,,,
124891624,"2299 Market St APT 502, San Francisco, CA",12/4/15,0.915,0.0,1.0,1.0,691.0,NaN,2013.0
2100902229,"2299 Market St APT 502, San Francisco, CA",12/3/15,0.915,0.0,1.0,1.0,700.0,NaN,2013.0

In [77]:
df[df.Address == '643 Natoma St, San Francisco, CA']

,Address,DateOfSale,SalePrice,IsAStudio,Beds,Baths,Size,LotSize,BuiltInYear
ID,,,,,,,,,
15147343,"643 Natoma St, San Francisco, CA",12/17/15,0.875,0.0,2.0,1.0,875.0,NaN,1910.0
123596761,"643 Natoma St, San Francisco, CA",12/17/15,0.875,0.0,2.0,1.0,830.0,NaN,1910.0

In [78]:
df[df.Address == '829 Folsom St UNIT 906, San Francisco, CA']

,Address,DateOfSale,SalePrice,IsAStudio,Beds,Baths,Size,LotSize,BuiltInYear
ID,,,,,,,,,
123597964,"829 Folsom St UNIT 906, San Francisco, CA",12/7/15,0.675,0.0,NaN,NaN,557.0,NaN,2010.0
2121978635,"829 Folsom St UNIT 906, San Francisco, CA",12/6/15,0.675,0.0,1.0,1.0,557.0,NaN,2010.0

All duplicate entries...

In [79]:
df[df.DateOfSale == '11/20/15']

,Address,DateOfSale,SalePrice,IsAStudio,Beds,Baths,Size,LotSize,BuiltInYear
ID,,,,,,,,,
15072263,"1795 Green St, San Francisco, CA",11/20/15,2.500,0.0,3.0,2.0,1647.0,NaN,1908.0
15073657,"1895 Pacific Ave APT 506, San Francisco, CA",11/20/15,0.975,0.0,1.0,1.0,1165.0,NaN,1931.0
15084143,"270 Ewing Ter, San Francisco, CA",11/20/15,1.570,0.0,2.0,1.0,1250.0,2178.0,1940.0
15093664,"591 29th Ave, San Francisco, CA",11/20/15,1.750,0.0,3.0,2.5,1800.0,1875.0,1936.0
15100149,"806 39th Ave, San Francisco, CA",11/20/15,1.050,0.0,NaN,1.0,1375.0,2374.0,1926.0
15104379,"1466 44th Ave, San Francisco, CA",11/20/15,0.892,0.0,2.0,1.0,1130.0,3049.0,1926.0
15104496,"1422 42nd Ave, San Francisco, CA",11/20/15,1.220,0.0,3.0,1.0,1325.0,2996.0,1951.0
15118458,"2279 47th Ave, San Francisco, CA",11/20/15,1.030,0.0,4.0,3.0,2570.0,2996.0,1900.0
15124103,"2514 40th Ave, San Francisco, CA",11/20/15,1.020,0.0,3.0,2.0,1490.0,3049.0,1945.0
15127090,"262 Castro St, San Francisco, CA",11/20/15,1.700,0.0,2.0,2.0,848.0,3358.0,1906.0
...,...,...,...,...,...,...,...,...,...
82785479,"750 Van Ness Ave # V704, San Francisco, CA",11/20/15,0.495,1.0,NaN,1.0,395.0,NaN,2008.0
82785630,"753 Baker St, San Francisco, CA",11/20/15,1.200,0.0,2.0,1.0,1444.0,NaN,1900.0
83154302,"888 7th St UNIT 308, San Francisco, CA",11/20/15,0.325,0.0,1.0,1.0,537.0,NaN,2008.0
89238065,"338 Spear St UNIT 5J, San Francisco, CA",11/20/15,1.050,0.0,1.0,1.0,1021.0,NaN,2009.0
89238087,"425 1st St UNIT 4801, San Francisco, CA",11/20/15,0.481,0.0,1.0,1.0,837.0,NaN,2008.0
89240297,"733 Front St UNIT 509, San Francisco, CA",11/20/15,1.200,0.0,1.0,1.0,890.0,NaN,2007.0
114317753,"301 Mission St APT 30F, San Francisco, CA",11/20/15,2.400,0.0,2.0,2.0,1601.0,NaN,2009.0
119684869,"5900 3rd St UNIT 2219, San Francisco, CA",11/20/15,0.680,0.0,2.0,2.0,1011.0,NaN,2010.0
2122992200,"129 Octavia St, San Francisco, CA",11/20/15,2.750,1.0,NaN,NaN,3655.0,NaN,1883.0
2126960082,"355 1st St UNIT 1905, San Francisco, CA",11/20/15,0.860,0.0,1.0,1.0,691.0,NaN,2004.0

In [80]:
df[df.DateOfSale == '11/20/15'].shape[0]

47

In [81]:
(df.DateOfSale == '11/20/15').sum()

47

## Part G

- `.corr()`
  - (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.corr.html)
  - (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.corr.html)
- Heatmaps
  - (http://matplotlib.org/api/pyplot_api.html#matplotlib.pyplot.matshow)
- Scatter plots
  - (http://pandas.pydata.org/pandas-docs/stable/visualization.html#scatter-plot)
  - (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.plot.html) with `kind = 'scatter'`
  - (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.plot.html) with `kind = 'scatter'`
  - (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.plot.scatter.html)
- Scatter matrices
  - (http://pandas.pydata.org/pandas-docs/stable/visualization.html#scatter-matrix-plot)

In [82]:
df.corr()

,SalePrice,IsAStudio,Beds,Baths,Size,LotSize,BuiltInYear
SalePrice,1.000000,0.008889,0.379453,0.369938,0.485379,0.392418,-0.148598
IsAStudio,0.008889,1.000000,NaN,-0.078195,0.052166,-0.012622,-0.050258
Beds,0.379453,NaN,1.000000,0.715194,0.722656,0.070542,-0.344700
Baths,0.369938,-0.078195,0.715194,1.000000,0.692501,0.108556,-0.078157
Size,0.485379,0.052166,0.722656,0.692501,1.000000,0.201979,-0.313989
LotSize,0.392418,-0.012622,0.070542,0.108556,0.201979,1.000000,0.046411
BuiltInYear,-0.148598,-0.050258,-0.344700,-0.078157,-0.313989,0.046411,1.000000

In [ ]:
df.Beds.corr(df.Baths)

### Heatmaps

In [ ]:
corr = df.corr()

corr

In [ ]:
# TODO

Let's pretty this up.

In [ ]:
list(corr.columns)

In [ ]:
figure = plt.figure()
subplot = figure.add_subplot(1, 1, 1)
figure.colorbar(subplot.matshow(corr))
subplot.set_xticklabels([None] + list(corr.columns), rotation = 90)
subplot.set_yticklabels([None] + list(corr.columns))

### Scatter plots

In [ ]:
df.plot(kind = 'scatter', x = 'Beds', y = 'Baths', s = 100, figsize = (8, 8))

In [ ]:
df.plot.scatter(x = 'Beds', y = 'Baths', s = 100, figsize = (8, 8))

### Scatter matrices

In [ ]:
pd.tools.plotting.scatter_matrix(df[ ['Beds', 'Baths'] ], diagonal = 'kde', s = 500, figsize = (8, 8))

In [ ]:
pd.tools.plotting.scatter_matrix(df[ ['SalePrice', 'Size'] ], s = 200, figsize = (8, 8))

## Part H

- `.value_counts()`
  - (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.value_counts.html)
- `.crosstab()`
  - (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.crosstab.html)

> #### Activity: Reproduce the `Beds` histogram above.  For each possible number of beds, how many properties share that bed count?

In [86]:
# TODO
df.Beds.value_counts()

2.0    316
3.0    226
1.0    142
4.0    103
5.0     28
6.0      9
7.0      6
9.0      3
8.0      3
Name: Beds, dtype: int64

In [87]:
df.Beds.value_counts(dropna = False)

 2.0    316
 3.0    226
NaN     164
 1.0    142
 4.0    103
 5.0     28
 6.0      9
 7.0      6
 9.0      3
 8.0      3
Name: Beds, dtype: int64

> Careful on checking for `NaN` values!

In [ ]:
# TODO

> #### Activity: Create a frequency table for `Baths` over `Beds`

In [90]:
# TODO
pd.crosstab(df.Beds, df.Baths)

Baths,1.0,1.1,1.25,1.5,1.75,...,6.0,6.5,7.5,8.0,14.0
Beds,,,,,,,,,,,
1.0,116,1,0,7,0,...,0,0,0,0,0
2.0,133,0,0,19,0,...,0,0,0,0,0
3.0,39,0,1,9,1,...,0,0,0,0,0
4.0,1,0,0,1,0,...,0,0,0,0,0
5.0,0,0,0,1,0,...,3,0,0,0,0
6.0,0,0,0,0,0,...,1,0,1,0,0
7.0,0,0,0,0,0,...,1,1,0,1,1
8.0,0,0,0,0,0,...,1,0,0,0,0
9.0,0,0,0,0,0,...,2,0,0,0,0

> #### Activity: Create a frequency table for `Beds` and `Baths` (together) over the centry the houses were built

In [95]:
# TODO
pd.crosstab([df.Beds, df.Baths], df.BuiltInYear // 100 * 100)

BuiltInYear  1800.0  1900.0  2000.0
Beds Baths
1.0  1.0          3      67      43
     1.1          0       0       1
     1.5          0       3       4
     2.0          1       4      12
2.0  1.0          2     123       2
     1.5          1      16       2
     2.0          1      66      69
     2.5          0       4       7
     3.0          0       6       2
     3.5          0       1       0
...             ...     ...     ...
7.0  5.0          0       1       0
     6.0          0       1       0
     6.5          0       1       0
     8.0          0       1       0
     14.0         0       0       1
8.0  2.0          0       1       0
     5.0          0       1       0
     6.0          0       1       0
9.0  3.0          0       1       0
     6.0          0       2       0

[58 rows x 3 columns]